body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: cornflowerblue;
}

#name {
  margin: 0;
  margin-top: 10%;
  font-size: 80pt;
  color: white;
}

#shorten {
  background-color: lightgrey;
  border: 1px solid lightgrey;
}

.input-group, #shortened {
  width: 20%;
  margin: auto;
  margin-bottom: 10pt;
}